<center>
<h2>All Posts</h2>

<% @posts.reverse.each do |post| %>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= post.title %></h5>
    <h6 class="card-subtitle mb-2 text-muted">By: <%= post.user.username %></h6>
    <p class="card-text"><%= post.body %></p>
    <button type="button" class="btn btn-info btn-sm btn-border "><a href="/post/<%= post.id %>">View Post</a></button> 
    <button type="button" class="btn btn-warning btn-sm btn-border "><a href="/post/<%= post.id %>" name="_method" value="delete">Delete Post</a></button>
  </div>
</div>
<% end %>
    </center>